@font-face {
    font-family: 'lato-light';
    src: url('./fonts/Lato-Light.ttf');

    font-family: 'lato-medium';
    src: url('./fonts/Lato-Medium.ttf');

    font-family: 'lato-bold';
    src: url('./fonts/Lato-Bold');

    font-family: 'lato-regular';
    src: url('./fonts/Lato-Regular');

}